@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more...
            </p>
        </div>
    </section>
}
<h3>About try version OA system of RC XMN:</h3>
<ol class="round">
    <li class="one">
        <h5>What's the purpose?</h5>
        We build this platform for automation our manual work.</br>
        Leave form, employee info, contact info, etc..
    </li>

    <li class="two">
        <h5>development</h5>
        work still on going, contact bob for request raising
    </li>
</ol>
